[submodule "vim-yankstack"]
    path = "vimfiles/bundle/vim-yankstack"
    url = https://github.com/maxbrunsfeld/vim-yankstack.git 

[submodule "vimtex"]
    path = "vimfiles/bundle/vimtex"
    url = https://github.com/lervag/vimtex.git

[submodule "vimfiles/bundle/vimcompletesme"]
    path = "vimfiles/bundle/vimcompletesme"
    url = https://github.com/ajh17/VimCompletesMe.git

[submodule "vimfiles/bundle/autopairs"]
    path = "vimfiles/bundle/autopairs"
    url = https://github.com/jiangmiao/auto-pairs.git

[submodule "vimfiles/bundle/nerdcommenter"]
    path = "vimfiles/bundle/nerdcommenter"
    url = https://github.com/preservim/nerdcommenter.git

[submodule "vimfiles/bundle/neosnippet"]
    path = "vimfiles/bundle/neosnippet"
    url = https://github.com/Shougo/neosnippet.vim.git

[submodule "vimfiles/bundle/neosnippet-snippets"]
    path = "vimfiles/bundle/neosnippet-snippets"
    url = https://github.com/Shougo/neosnippet-snippets.git

[submodule "vimfiles/bundle/vim-auto-save"]
        path = vimfiles/bundle/vim-auto-save
        url = https://github.com/907th/vim-auto-save.git

[submodule "vimfiles/bundle/nerdtree"]
	path = vimfiles/bundle/nerdtree
	url = https://github.com/preservim/nerdtree.git
