[submodule "nerdtree"]
	path = "vimfiles/bundle/nerdtree"
    url = https://github.com/scrooloose/nerdtree.git

[submodule "supertab"]
	path = "vimfiles/bundle/supertab"
	url = https://github.com/ervandew/supertab.git
