[submodule "nerdtree"]
    path = "vimfiles/bundle/nerdtree"
    url = https://github.com/scrooloose/nerdtree.git

[submodule "supertab"]
    path = "vimfiles/bundle/supertab"
    url = https://github.com/ervandew/supertab.git

;the next 4 plugins are all for supporting snipmate
[submodule "tlib_vim"]
    path = "vimfiles/bundle/tlib_vim"
    url = https://github.com/tomtom/tlib_vim.git

[submodule "vim-snipmate"]
    path = "vimfiles/bundle/vim-snipmate"
    url = https://github.com/garbas/vim-snipmate.git

[submodule "vim-addon-mw-utils"]
    path = "vimfiles/bundle/vim-addon-mw-utils"
    url = https://github.com/MarcWeber/vim-addon-mw-utils.git

[submodule "vim-snipptes"]
    path = "vimfiles/bundle/vim-snippets"
    url = https://github.com/honza/vim-snippets.git

[submodule "vim-yankstack"]
    path = "vimfiles/bundle/vim-yankstack"
    url = https://github.com/maxbrunsfeld/vim-yankstack.git 

[submodule "vimtex"]
	path = vimfiles/bundle/vimtex
	url = https://github.com/lervag/vimtex.git
